<template>
  <v-container fill-height>
    <v-row v-if="!loading && !noResult && !error">
      <v-col v-for="(item, index) in exactResults" :key="index" cols="6" sm="6" md="4" lg="2">
        <vinyl-card :value="item" />
      </v-col>
      <v-col cols="12" v-if="nonExactResults.length">
        <h4>Другие результаты:</h4>
        <v-divider />
      </v-col>
      <v-col v-for="(item, index) in nonExactResults" :key="index" cols="6" sm="6" md="4" lg="2">
        <vinyl-card :value="item" />
      </v-col>
    </v-row>
    <div class="mx-auto" v-if="loading">
      <vinyl-record-loader />
      <h4 class="text--disabled"></h4>
    </div>
    <div class="mx-auto" v-if="noResult">
      <h4 class="text--disabled">Ничего не найдено. Попробуйте изменить запрос.</h4>
    </div>

    <div class="mx-auto" v-if="error">
      <h4 class="error--text">{{ error }}</h4>
      <div class="d-flex justify-center mt-4">
        <v-btn
          depressed
          rounded
          class="text--secondary text-body-2 font-weight-medium"
          style="text-transform: none"
          @click="$router.go(0)"
        >
          Попробовать снова
        </v-btn>
      </div>
    </div>
    <!-- <div v-if="noData"></div> -->
  </v-container>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import VinylCard from './VinylCard.vue'
import { VinylRecordLoader } from '../ui'
import { Vinyl } from '@/models'

@Component({
  components: {
    VinylCard,
    VinylRecordLoader
  }
})
export default class VinylResultList extends Vue {
  @Prop(Array) items!: Vinyl[]
  @Prop(Boolean) loading!: boolean
  @Prop(Boolean) noData!: boolean
  @Prop(Boolean) noResult!: boolean
  @Prop(String) error!: string
  get exactResults() {
    return this.items.filter(x => x.isExact)
  }
  get nonExactResults() {
    return this.items.filter(x => !x.isExact)
  }
}
</script>
